{% extends 'VtedPearyBundle::layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('vted_peary_homepage') }}"><i class="fa fa-home"></i> Peary</a></li>
        <li class="active">Error Logs</li>
    </ol>
{% endblock %}

{% block header %}
    <h1>
        Error Logs by Event Listener
    </h1> 
{% endblock header %}

{% block content -%}
    {% include 'VtedPearyBundle:ErrorLog:nav.html.twig' %}
    <div class="alert alert-content">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(logs, 'Date', 'l.createDate')|raw }}</th>
                        <th>{{ knp_pagination_sortable(logs, 'User', 'l.username')|raw }}</th>
                        <th>{{ knp_pagination_sortable(logs, 'Id', 'l.id')|raw }}</th>
                        <th>{{ knp_pagination_sortable(logs, 'Ip', 'l.ip')|raw }}</th>
                        <th>{{ knp_pagination_sortable(logs, 'Code', 'l.code')|raw }}</th>
                        <th>
                            {{ knp_pagination_sortable(logs, 'Message', 'l.message')|raw }} - 
                            {{ knp_pagination_sortable(logs, 'Url', 'l.url')|raw }} - 
                            {{ knp_pagination_sortable(logs, 'Referer', 'l.referer')|raw }}
                        </th>
                    </tr>
                </thead>
                {% for log in logs %}
                    <tr>
                        <td style="white-space:nowrap;">
                            {{ log.createDate|date('Y-m-d H:i') }}
                        </td>
                        <td>
                            {{ log.username }}
                        </td>
                        <td>
                            {{ log.userid }}
                        </td>
                        <td>
                            {{ log.ip }}
                        </td>
                        <td>
                            {{ log.code }}
                        </td>
                        <td>
                            <div><small class="text-muted">url</small> {{ log.url }}</div>
                            {% if log.referer %}<div><small class="text-muted">ref</small> {{ log.referer }}</div>{% endif %}
                            <div><small class="text-muted">msg</small> {{ log.message }}</div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="pagination-container">
            {{ knp_pagination_render(logs) }}
        </div>
    </div>

{% endblock %}
