{% extends 'VtedPearyBundle::layout.html.twig' %}

{% block header %}
    <ol class="breadcrumb">
        <li><a href="{{ path('vted_peary_homepage') }}"><i class="fa fa-home"></i> Peary</a></li>
        <li class="active">Error Logs</li>
    </ol>

    <h1>
        Error Logs by monolog
    </h1> 
{% endblock header %}

{% block content -%}
    {% include 'VtedPearyBundle:ErrorLog:nav.html.twig' %}

    <a href="{{ path('vted_peary_errorlog_monolog') }}?all=true" class="btn btn-default"> Voir tous</a>
    <table class="table">
        {% for log in logs %}
            <tr>
                <td style="min-width:180px">
                    {{ log.date}}
                    <br>
                    {{ log.type}}
                </td>
                <td><code>{{ log.content}}</code></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
